* {
    box-sizing: border-box;
		font-size: 1.2rem;
		line-height: 1.5;
		/* https://css-tricks.com/snippets/css/system-font-stack/ below: */
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.side-menu {
  background-color: pink;
  padding: 20px;
}

.project {
  background-color: rgb(250, 164, 179);
  margin: 10px;
  padding: 10px;
}

.project:hover {
  background-color: rgb(181, 134, 142);
}

.project.active {
  border: 3px solid rgb(255, 107, 132);
}

.main {
  background-color: sandybrown;
}

.main-header div {
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
}